.title-bar
  background-color: #CCCCFF
  .header-main-bar.open
    justify-content: space-between;
    flex-direction: inherit;
  .header-main-bar
    height: 35px
    display: flex;
    flex-direction: row-reverse;

    .board-header-btns
      color: white;
      line-height: 35px;
      display: flex;

      /* 顶部返回按钮 */
      .return
        display: block;
        font-size: 1.6rem;
        margin: 0 10px;
      .header-user-bar-avatar
        margin: 2px 0;

    .board-header-btn
      text-align: center;
      font-size: 0.9rem;
      overflow: hidden
      height: 100%;
      position: relative
      padding: 0 4px;

    .board-header-btn:hover
      background-color: #CCFF99;
      color: #6699CC;

    /* 分割线样式 */
    .separator
      margin: 2px 4px
      border-left: 1px solid rgba(255, 255, 255, .3)

    .title
      font-size: 1.6rem;

@media screen and (max-width: 800px)
  .title-bar
    .header-main-bar
      height: 35px

      .board-header-btns
        margin-top: 0px
        &.title,span
          display:none



.offline-warning
  width: 100%
  text-align: center
  padding: 0
  margin: 0
  background: #F8ECBD
  clear: both

  p
    margin: 7px
    padding: 0
