template(name="header")
  #header(class=currentBoard.colorClass)
    #header-main-bar
      +Template.dynamic(template=headerBar)
  if appIsOffline
    +offlineWarning

template(name="offlineWarning")
  .offline-warning
    p
      i.fa.fa-warning
      | {{_ 'app-is-offline'}}
