template(name="header")
  .title-bar(class=currentBoard.colorClass)
    .header-main-bar(class="{{# if currentBoard}}open{{/if}}")
      +Template.dynamic(template=headerBar)
  if appIsOffline
    +offlineWarning

template(name="offlineWarning")
  .offline-warning
    p
      i.fa.fa-warning
      | {{_ 'app-is-offline'}}
