@import 'nib'
$popupWidth = 300px

.pop-over
  background: #CCFFFF
  border-radius: 3px
  box-shadow: 0 1px 6px rgba(0, 0, 0, .3)
  position: absolute
  width: $popupWidth
  z-index: 99999
  margin-top: 5px
  /* 首页用户菜单标题栏 */
  .header
    height: 36px
    position: relative
    margin-bottom: 8px
    background: #66CCFF
    border-bottom: 1px solid #dcdcdc
    color: white
    display: flex;

    .header-title
      display: block
      line-height: 36px
      font-weight: bold
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      margin-left: 10px;

    .back-btn
      overflow: hidden
      width: 30px
      height: 36px;
      line-height: 36px;
      text-align: center;
      margin-right: -10px;

      &.is-hidden
        width: 0
        margin:0

    .close-btn
      padding: 10px 10px 10px 4px
      position: absolute
      top: 0
      right: 0


  /* 首页用户菜单面板 */
  .content-wrapper
    width: 100%
    overflow: hidden
    form
      label
        display: block
        height: 30px;
        line-height: 30px;
        p
          display: inline-block
          width: 60px;
        input
          width: 200px;
  /* 确定按钮框 */
  .determine
    height: 30px;
    display: flex;
    justify-content: flex-end;
    input
      height: 26px;
      width: 50px;
      line-height: 23px;
      display: block;
      font-size: 1rem;
      margin-top: 7px;
      border: 0;
      border-radius: 5px;
      background-color: #CCCCFF;
      color: azure;
  /*选择头像板块，上传头像按钮*/
  .upload
    height: 30px;
    display: flex;
    justify-content: flex-end;
    .js-upload-avatar
      background-color: cornflowerblue;
      border: 0;
      color: white;
  .content-container
    width: 5000px
    max-height: 550px
    transition: transform 0.2s

    .content
      width: $popupWidth - 20px
      padding: 0 10px 10px
      float: left

      &.no-height
        height: 20px

  .quiet
    padding: 6px 6px 4px

  &.search-over
    background: #f0f0f0
    min-height: 114px

    .header
      display: none

    .content
      padding: 8px 4px 8px 10px
      margin-right: 8px

      &::-webkit-scrollbar-button
        display: block
        height: 4px
        width: 4px

  .at-form
    .at-error, .at-result
      padding: 8px 12px
      margin: -8px -10px 10px

    .at-error
      background: #ef9a9a

    .at-result
      background: #b2dfdb

  .sk-spinner
    margin: 40px auto

  for depth in (1..6)
    .popup-container-depth-{depth}
      transform: translateX(- depth * $popupWidth)

.select-members-list
  margin-bottom: 8px

.pop-over-list
  li
    cursor: pointer
    display: block
    position: relative
    height: 30px
    display: flex;
    justify-content: space-between;
    margin: 2px 0;
    label{
      line-height: 30px;
      display: inline-block;
    }
    a{
      display: flex;
      justify-content: space-between;
      text-decoration: none
      overflow:hidden
      width:100%
      line-height:33px
    }
    /* 选择头像列表 */
    .js-select-avatar
      .member
        width: 220px;
        img
          width: 30px;
      .js-delete-avatar
        width: 60px;
        text-align: center;
        background-color: cornflowerblue;
        color: white;
        border-radius: 5px;

    /*选择头像板块，默认头像按钮*/
    .default-avatar
      width: 60px;
      background-color: darkcyan;
      color: white;
      text-align: center;
      border-radius: 5px;
    #show-cards-count-at
      height: 20px;
      margin: 5px 0;
      border-radius: 5px;
      border: 0;
    .item-name
      display: block
      width: auto
      padding-right: 22px

    &:not(.disabled):hover
      background-color: #66CCCC

      .sub-name,
      .quiet
        color: #eee

      .unread-indicator
        background: #fff

    &.current
      background-color: #e2e6e9

    &:active
      background-color: #2e85b8

    &.disabled
      color: #8c8c8c
      cursor: default

      .vis-icon
        opacity: .35

      &:hover
        background: none

        .sub-name,
        .quiet
          color: #8c8c8c

      &:active
        background: none

  &.inset li > a
    border-radius: 3px
    margin: 0

  .pop-over-list.checkable
    .fa-check
      display: none
      position: absolute
      top: 6px
      right: 12px

    li.active a
      padding-right: 28px

      .fa-check
        display: block

.pop-over.miniprofile
  .header
    border-bottom-color: transparent
    height: 30px
    position: absolute
    right: 0
    top: 0
    width: 60px
    z-index: 1

  .header-title
    display: none

  .pop-over-list
    padding-top: 8px

  .miniprofile-header
    margin-top: 8px
    min-height: 56px
    position: relative

    .member
      position: absolute
      top: 2px
      left: 2px
      height: 50px
      width: @height

    .info
      margin: 0 0 0 64px
      word-wrap: break-word

      h3 a
        text-decoration: none

        &:hover
          text-decoration: underline

@media screen and (max-width: 800px)
  .pop-over
    width: 100%
    height: 100%
    overflow: hidden
    margin-top: 0px
    border: 0px solid #dbdbdb

    .header
      color: white
      background: #2980B9
      height: 48px
      padding: 0px 0px
      border: 0px
      margin: 0px 0px
      width: 100%
      position: absolute
      top: 0px

      .header-title
        font-size: 20px
        font-weight: normal
        padding-top: 8px

      .back-btn
        width: 30px
        padding: 8px 12px 8px 12px

        i.fa
          color: white

      .close-btn
        padding: 10px 12px

        i.fa
          font-size: 24px
          color: white

    .content-wrapper
      width: 100%
      height: calc(100% - 48px)
      overflow-y: scroll
      overflow-x: hidden
      margin: 48px 0px 0px 0px

    .content-container
      width: 1000%
      height: 100%
      max-height: 100%

      .content
        width:100%
        width: calc(10% - 20px)
        height: calc(100% - 20px)
        padding: 10px

        form
          margin: 10px 10px
          width: calc(100% - 20px)

        p,
        textarea,
        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="file"]
          margin: 4px 0 12px
          width: 100%

    .pop-over-list
      li > a
        width: calc(100% - 20px)
        padding: 10px 10px
        margin: 0px 0px
        border-bottom: 1px solid #eee

    hr
      width: 100%
      height: 20px
      margin: 0px 0px
      color: #eee

    for depth in (1..6)
      .popup-container-depth-{depth}
        transform: translateX(- depth * 10%)
