.land-title
  background-color: #66CCFF;
  .js-userform-set-language
    width: 150px;
    height: 24px;
    margin: 3px 2px;
  .item
    float: right;
  p
    height: 30px;
    line-height: 30px;
    margin: 0;
    color: blanchedalmond;
    width: 110px;
.auth-dialog
  width: 100%;
  height: 100%;
  background-color: #CCFFFF;
  .at-form
    width: 300px;
    background: white;
    border-radius: 3px;
    z-index: 1;
    margin: 10% auto;
    p, label
      color: #00ced1;
    a
      color: cornflowerblue

    input
      width: 100%

    button
      width: 100%
      background: skyblue;
      color: ghostwhite;
      margin-top: 15px;
      height: 50px;
      font-size: 1.6rem;
      border-radius: 5px;
    .at-title
      background: #66CCFF;
      padding-left: 15px;
      color: #4d4d4d;
      font-weight: bold;
      border-radius: 5px 5px 0 0;
      h3
        height: 40px;
        line-height: 40px;
        margin: 0;

      .at-signUp,
      .at-signIn
        font-weight: bold
    .at-pwd-form
      background-color: #FFFFCC;
      padding: 10px;
      label
        height: 20px;
      .at-input
        height: 60px;
      form
        height: 100%;

    .at-signup-link
      p
        text-align: right;
        margin-right: 15px;
    .at-error
      p
        padding-left: 10px;
        background-color: coral;
        color: white;
        font-size: 1rem;
        height: 1.4rem;
        line-height: 1.4rem;



@media screen and (max-width: 800px)
  .auth-layout
    width: 100%
    height: 100%
    margin: 0px
    padding: 0px

    .at-form-landing-logo
      width: 125px
      position: absolute
      top: 0px
      right: 20px
      margin-top: 5px
      margin-bottom: 5px

      img
        width: 125px

    .at-form .auth-dialog
      width:90%
      height:100%
      width: calc(100% - 50px)
      height: calc(100% - 50px)
      min-height: 380px
      margin: 0px
      margin-bottom: 0px
      border: 0px
      top: 0px

      .at-form
        .at-title
          h3
            width: calc(100% - 125px)
            overflow-x: hidden
