@import 'nib'

.card-details
  flex-shrink: 0
  flex-basis: 470px
  will-change: flex-basis
  overflow: hidden
  background: #ccfffd
  animation: flexGrowIn 0.1s
  transition: flex-basis 0.1s
  border-radius: 5px
  border: 1px solid #c5d7ff
  margin-top: 4px

  .card-details-canvas
    width: 470px
    position: relative
    .comment-form
      display: block
      line-height: 20px
      background-color: #ece5e5
      border-radius: 5px
      padding: 4px 10px 1px 10px
      .viewer
        p
          font-size:medium
    .edit-controls
      font-size: 20px
      position: absolute
      bottom: 6px
      right: 5px
      button
        background: #CCCCFF;
        border: none;
        border-radius: 5px;
        height: 20px;



  .card-details-header
    padding 0 10px
    border-bottom: 1px solid darken(white, 14%)
    display: flex
    justify-content: space-between
    .inlined-form
      width: 100%
      position: relative
      margin-top: 5px
      .js-edit-card-title
        width: 100%
        border: none
        min-height: 20px
    .card-details-menu
      font-size: 17px
      padding: 10px

    .card-details-title
      font-weight: bold
      font-size: 1.33em
      line-height: 30px
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      width: 400px

    .title-button
      height: 30px
      line-height: 30px
      a
        font-size: 1rem

    form.inlined-form
      .edit-controls
        .fa-check
          position: relative
          bottom: 35px
          background-color: rgba(255, 255, 255, 0)
          padding: 0
          float: right
          font-size: 20px
          right:10px

    .card-details-list
      font-size: 0.85em
      margin-bottom: 3px

      a.card-details-list-title
        font-weight: bold

        &.is-editable
          display: inline-block
          background: darken(white, 10%)
          border-radius: 3px
          padding: 0px 5px

  .card-description textarea
    min-height: 100px

  .card-details-items
    display: flex
    margin: 15px 10px

    .card-details-item
      &.card-details-item-labels,
      &.card-details-item-members
        width: 50%
        flex-shrink: 1

  .card-details-item-title
    font-size: 14px
    color: darken(white, 45%)

  .card-label
    padding-top: 5px
    padding-bottom: 5px


input[type="text"].attachment-add-link-input
  float: left
  margin: 0 0 8px
  width: 80%

input[type="submit"].attachment-add-link-submit
  float: left
  margin: 0 0 8px 4px
  padding: 6px 12px
  width: 18%

@media screen and (max-width: 800px)
  .card-details
    width: calc(100% - 40px)
    padding: 0px 20px 0px 20px
    margin: 0
    transition: none
    border-radius: 0

    .card-details-canvas
      width: 100%

      .card-details-header
        padding: 1px 10px

    .card-details-header
      .close-card-details
        margin-right: 0px

      .card-details-menu
        margin-right: 10px


