.board-color-nephritis
  background: #4bb578
  #header-main-bar
    background: #32a06e
    .board-header-btns.right
      color:black
      .board-header-btn
        background: rgb(131, 208, 73) !important
        box-shadow: 1px 3px #268443 !important

.board-color-pomegranate
  background: #58b8dc
  #header-main-bar
    background: #32a06e
    .board-header-btns.right
      color:black
      .board-header-btn
        background: rgb(131, 208, 73) !important
        box-shadow: 1px 3px #268443 !important

.board-color-belize
  background: #e0e7fb
  #header-main-bar
    background: #87ceeb
    .board-header-btns.right
      .board-header-btn
        background: rgba(51, 88, 156, 0.35) !important
        box-shadow: 1px 3px #41629e !important

.board-color-wisteria
  background: #ce7d1a
  #header-main-bar
    background: #a96117
    .board-header-btns.right
      .board-header-btn
        background: rgba(51, 88, 156, 0.35) !important
        box-shadow: 1px 3px #41629e !important

.board-color-midnight
  background: #ce7fdc
  #header-main-bar
    background: #c675d4
    .board-header-btns.right
      .board-header-btn
        background: rgba(51, 88, 156, 0.35) !important
        box-shadow: 1px 3px #41629e !important

 .board-color-pumpkin
  background:#16317b
  #header-main-bar
    background: #4957b7
    .board-header-btns.right
      color:black
      .board-header-btn
        background: rgb(131, 208, 73) !important
        box-shadow: 1px 3px #268443 !important