.board-color-nephritis
  background: #4bb578
  #header-main-bar
    background: #32a06e
    .board-header-btns.right
      color:black
      .board-header-btn
        background: #95ca6d !important
        box-shadow: 1px 3px #268443 !important
  .js-list
    background-color: rgb(78, 216, 159)

.board-color-pomegranate
  background: #82908f
  #header-main-bar
    background: #249686
    .board-header-btns.right
      color:black
      .board-header-btn
        background: #3faf9f !important
        box-shadow: 1px 3px #2f7d47 !important
        color: white
  .js-list
    background-color: #9adcc0

.board-color-belize
  background: #e0e7fb
  #header-main-bar
    background: #87ceeb
    .board-header-btns.right
      .board-header-btn
        background: rgba(51, 88, 156, 0.35) !important
        box-shadow: 1px 3px #41629e !important

.board-color-wisteria
  background: #2b2424
  #header-main-bar
    background: #2b2424
    .board-header-btns.right
      .board-header-btn
        background: rgb(76, 90, 85) !important
        box-shadow: 1px 3px #424956 !important
        color:black
  .js-list
    background-color: #4b5246
    color:black

.board-color-midnight
  background: #ce7fdc
  #header-main-bar
    background: #c675d4
    .board-header-btns.right
      .board-header-btn
        background: rgba(51, 88, 156, 0.35) !important
        box-shadow: 1px 3px #41629e !important

 .board-color-pumpkin
  background: #c5ef73
  #header-main-bar
    background: #d6c12a
    .board-header-btns.right
      color:black
      .board-header-btn
        background: #7bc742 !important
        box-shadow: 1px 3px #268443 !important
        color: white
  .js-list
    background-color: rgb(140, 218, 55)