.board-wrapper
  transition: background-color 0.4s

.board-color-nephritis
  background: #4bb578
  #header-main-bar
    background: #32a06e
    .board-header-btns.right
      color:black
      .board-header-btn
        background: #95ca6d !important
        box-shadow: 1px 3px #268443 !important
  .js-list
    background-color: rgb(78, 216, 159)

.board-color-pomegranate
  background: #82908f
  #header-main-bar
    background: #249686
    .board-header-btns.right
      color:black
      .board-header-btn
        background: #3faf9f !important
        box-shadow: 1px 3px #2f7d47 !important
        color: white
  .js-list
    background-color: #9adcc0

.board-color-belize
  background: #e0e7fb
  #header-main-bar
    background: #87ceeb
    .board-header-btns.right
      .board-header-btn
        background: rgba(51, 88, 156, 0.35) !important
        box-shadow: 1px 3px #41629e !important

.board-color-wisteria
  background:  #000 //面板背景颜色
  #header-main-bar
    background:  #000 //头部标题背景色
    .board-header-btns.right
      .board-header-btn
        color: #c5c4c4 //顶部按钮颜色
        background: #403636 !important;
        box-shadow: 1px 3px #474c56 !important;
  .js-list
    background-color: #475f59 //清单卡片背景色
    color:black
  .sidebar-content
    color:#808080 !important
    background-color: rgba(115, 105, 105, 0.52) !important //右侧面板背景颜色
    .activity-meta
      color: #c5c4c4 !important //右侧面板时间文字颜色
    h3
      color:#808080 !important

.board-color-midnight
  background: #7fdccf //面板背景颜色
  #header-main-bar
    background: rgb(49, 197, 177) //头部标题背景色
    .board-header-btns.right
      .board-header-btn
        color:#b6eacd //顶部按钮颜色
        background: rgba(51, 88, 156, 0.35) !important //顶部按钮背景颜色
        box-shadow: 1px 3px #41629e !important //顶部按钮背景阴影
  .js-list
    background-color: rgb(91, 183, 170) //清单卡片背景色
    color:black
  .sidebar-content
    background-color: rgba(100,202,187,0.5) !important //右侧面板背景颜色
    .board-widget-labels
      color:black //右面板标签颜色
    .activity-meta
      color: #009688 !important //右侧面板时间文字颜色

 .board-color-pumpkin
  background: #dedede
  #header-main-bar
    height: 30px !important
    background: #2980b9
    .board-header-btns.right
      color:black
      .board-header-btn
        background: rgba(240, 248, 255, 0) !important
        box-shadow: 0px 0px #41629e !important
        color: white
  .js-list
    background-color: #b7ccc7
